* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Avenir LT Std', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

h1 {
  color: #107bc0;
  font-size: 3rem;
}

.text-area {
  text-align: center;
  margin-bottom: 2rem;
}

p {
  font-style: normal;
  color: #4f4f4f;
  font-size: 1.1rem;
}

.banner-paragraph {
  font-size: 1.5rem;
}

h2 {
  color: #107bc0;
  font-size: 2rem;
}

h3 {
  color: #094063;
}

.card-shadows {
  box-shadow: 0px 0px 10px 0px #d1e0eb !important;
}
.menu-shadows {
  box-shadow: 0px 0px 10px 0px #d1e0eb !important;
}

.paystack-modal {
  width: fit-content !important;
}
